body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
  background-color: gray;
  opacity: 0.75;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
}
